body {
  font-family: "Press Start 2P", cursive;
  background: black;
  color: white;
}

h1 {
  color: red;
  font-style: italic;
  font-size: 100px;
}

#title {
  float: left;
  margin-top: 25px;
}

#subtitle {
  float: left;
  margin: 25px;
}

#rules {
  margin: 30px;
  text-align: center;
}

.wrong {
  position: relative;
}

#image {
  width: 500px;
  height: 500px;
}

.container {
  clear: both;
  position: relative;
  height: 220px;
}

#progress {
  position: relative;
}

#start {
  background: green;
  color: white;
  margin: 10px;
}

#reset {
  background: red;
  color: white;
  margin: 10px;
}
