body {
    font-family: 'Press Start 2P', cursive;
    background: black;
    color: white;
}
h1 {
    color: red;
    font-style: italic;
    font-size: 85px;
}

h2 {
    text-align: center;
}

#title {
    float: left;
    margin: 10px;
}

#subtitle {
    float: left;
    margin: 20px;
}

#rules {
    margin: 30px;
    text-align: center;
}

.wrong {color: white;}

#image {
    width: 500px;
}